.form tr {
  height: 7rem;
}
.form th {
  width: 150px;
  text-align: right;
  padding-right: 10px;
}
input[type="text"] {
  width: 480px;
}
input[type="submit"]{
  color: #fff;
  margin: 10px;
  background-color: #008B8B;
  height:  3rem;
  display: inline-block;
  border: none;
  text-align: center;
}
.form td p {
  border: solid 1px #333333;
  width: 480px;
  padding: 10px;
  margin-bottom: 10px;
  height: 5rem;
}
input[type="submit"]:hover {
  opacity: 0.6;
}
.form tr:last-child {
  text-align: center;

}
